{"openapi":"3.0.0","info":{"title":"Pgam","version":"1.11.15"},"servers":[{"url":"https://api.pgammedia.com","description":"API server"}],"paths":{"/active-hash/update/{hash}":{"post":{"tags":["ActiveHash"],"summary":"Update active hash ttl","operationId":"2c252434fa07643ced8bfe7808654733","parameters":[{"name":"hash","in":"path","description":"Active hash","required":true,"schema":{"type":"string"},"example":"08bcdf19c331417383ba73ba0fabf87b"}],"responses":{"200":{"description":"Active Hash update status","content":{"application/json":{"schema":{"properties":{"status":{"description":"Status","type":"boolean","example":true}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters":{"post":{"tags":["Adapters"],"summary":"Return paginated adapter list.","operationId":"1a0e9b65dd3acf72a6c788f2cf3ac4d7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdaptersListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdaptersPaginatedCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/{id}":{"get":{"tags":["Adapters"],"summary":"Return Adapter by ID.","operationId":"c5c2c895a951d11388d41f91417566aa","parameters":[{"name":"id","in":"path","description":"Adapter ID","required":true,"schema":{"type":"integer"},"example":14}],"responses":{"200":{"description":"Adapter data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdapterResource"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/settings/{settings_id}":{"get":{"tags":["Adapters"],"summary":"Return AdapterSettings by ID.","operationId":"0f94eefc025434d06b02c804e2ed3e57","parameters":[{"name":"settings_id","in":"path","description":"Adapter settings ID","required":true,"schema":{"type":"integer"},"example":34}],"responses":{"200":{"description":"Adapter settings data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdapterSettingsResource"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/{id}/store":{"post":{"tags":["Adapters"],"summary":"Create new Adapter settings.","operationId":"4c5281754cf722079fbf0e594484a8b8","parameters":[{"name":"id","in":"path","description":"Adapter ID","required":true,"schema":{"type":"integer"},"example":12}],"requestBody":{"description":"Generate unique hash for store data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdapterSettingsRequest"}}}},"responses":{"200":{"description":"Adapters data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdapterSettingsResource"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/{id}/update/{settings_id}":{"post":{"tags":["Adapters"],"summary":"Update existed Adapter settings.","operationId":"e34ac92e5c7c3104713c751e7b24f616","parameters":[{"name":"id","in":"path","description":"Adapter ID","required":true,"schema":{"type":"integer"},"example":11},{"name":"settings_id","in":"path","description":"Adapter settings ID","required":true,"schema":{"type":"integer"},"example":53}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdapterSettingsRequest"}}}},"responses":{"200":{"description":"Adapters data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdapterSettingsResource"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/destroy/{settings_id}":{"post":{"tags":["Adapters"],"summary":"Destroy existed Adapter settings.","operationId":"865921ed23dfe2c750b2555253e21fca","parameters":[{"name":"settings_id","in":"path","description":"Adapter settings ID","required":true,"schema":{"type":"integer"},"example":23}],"responses":{"200":{"description":"Entity deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestroySuccessStatusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/{settings_data_id}/export-bundles":{"get":{"tags":["Adapters"],"summary":"Return csv file for downloading","operationId":"87ebbac97c8a4adc623337e9c5630502","parameters":[{"name":"settings_data_id","in":"path","description":"Adapter settings data ID","required":true,"schema":{"type":"integer"},"example":231}],"responses":{"200":{"description":"Return csv file for downloading","content":{"text/csv":{"schema":{"description":"Adapter settings bundles CSV file","type":"string","example":"name\nabshire.com\narmstrong.com\ntrantow.com\nschuppe.com\nparisian.biz\nschulist.biz"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/export-bundles-example":{"get":{"tags":["Adapters"],"summary":"Return example csv file for downloading","operationId":"7fe29e62e8a397fa056c77dc18e350c1","responses":{"200":{"description":"Return example csv file for downloading","content":{"text/csv":{"schema":{"description":"Adapter settings bundles CSV file example","type":"string","example":"name\nabshire.com\narmstrong.com\ntrantow.com\nschuppe.com\nparisian.biz\nschulist.biz"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/{settings_data_id}/bundles":{"post":{"tags":["Adapters"],"summary":"Return paginated adapter settings bundles","operationId":"9a4fca7fb58e0a7ed9680957d1f9a632","parameters":[{"name":"settings_data_id","in":"path","description":"Adapter settings data ID","required":true,"schema":{"type":"integer"},"example":124}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValuesListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdapterSettingsBundlesPaginatedCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/{settings_data_id}/import-bundles":{"post":{"tags":["Adapters"],"summary":"Import adapter settings bundles file by settings_data_id","operationId":"8b0ab91907e93220344f9548ad12d254","parameters":[{"name":"settings_data_id","in":"path","description":"Adapter settings data ID","required":true,"schema":{"type":"integer"},"example":233}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/AdaptersImportBundlesRequest"}}}},"responses":{"200":{"description":"Import successed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/{settings_data_id}/add-bundle":{"post":{"tags":["Adapters"],"summary":"Add adapter settings bundle by settings_data_id","operationId":"8436aa9b3379b227368c4d8bfbfc9224","parameters":[{"name":"settings_data_id","in":"path","description":"Adapter settings data ID","required":true,"schema":{"type":"integer"},"example":312}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/AdaptersAddBundleRequest"}}}},"responses":{"200":{"description":"Item added","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"Item added"}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/{settings_data_id}/clear-bundles":{"post":{"tags":["Adapters"],"summary":"Clear adapter settings bundles by settings_data_id","operationId":"ce4080bbf430b5f48af12df29e5bdef5","parameters":[{"name":"settings_data_id","in":"path","description":"Adapter settings data ID","required":true,"schema":{"type":"integer"},"example":421}],"responses":{"200":{"description":"Items cleared","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"Items cleared"}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/{settings_data_id}/remove-bundle":{"post":{"tags":["Adapters"],"summary":"Remove adapter settings bundles by settings_data_id","operationId":"cef19012319b42c0c8b720b9077186ef","parameters":[{"name":"settings_data_id","in":"path","description":"Adapter settings data ID","required":true,"schema":{"type":"integer"},"example":232}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/AdaptersRemoveBundleRequest"}}}},"responses":{"200":{"description":"Successfully removed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestroySuccessStatusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/{adapter_id}/import/{settings_id}":{"post":{"tags":["Adapters"],"summary":"Import adapter settings file","operationId":"7b12755a4f36f169aa4dd2290efdd003","parameters":[{"name":"adapter_id","in":"path","description":"Adapter ID","required":true,"schema":{"type":"integer"},"example":14},{"name":"settings_id","in":"path","description":"Adapter settings ID","allowEmptyValue":true,"schema":{"type":"integer"},"example":21}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/AdapterSettingsImportRequest"}}}},"responses":{"200":{"description":"Import successed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/{settings_id}/export":{"get":{"tags":["Adapters"],"summary":"Return csv file for downloading","operationId":"353b561fe9f184c4d6639ca71d5ba8a8","parameters":[{"name":"settings_id","in":"path","description":"Adapter settings ID","required":true,"schema":{"type":"integer"},"example":23}],"responses":{"200":{"description":"Return csv file for downloading","content":{"text/csv":{"schema":{"description":"Adapter settings CSV file","type":"string","example":"os;traffic_types;ad_formats;countries;sizes;bundles\n;'Desktop, Mobile Web, Mobile App, CTV';'Banner, Video, Native, Audio';'BES, IRQ';'120x60, 234x60, 120x240, 240x400';\n'AIX, iOS, NetBSD, OpenSUSE';'Mobile App';'Banner, Video, Audio';;;'rogahn.com, leannon.com, predovic.com'\n'Gentoo, MeeGo';'Mobile App';;'IOT, OMN';120x90;'klocko.com, fay.net'\n'MeeGo, Ubuntu';'Desktop, Mobile Web';'Banner, Video, Native';'GMB, MYT, MNE';120x90;'hettinger.com, lubowitz.com, mohr.net'\n'Android, Debian, DragonFly, Firefox OS, Zenwalk';'Mobile App';'Banner, Native';'ASM, AZE, CPV, COM, SSD';;'friesen.biz, howell.biz, price.org, swaniawski.com'"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/{adapter_id}/export-example":{"get":{"tags":["Adapters"],"summary":"Return example csv file for downloading","operationId":"6d698e2dbf73b366fc1f783bd5341975","parameters":[{"name":"adapter_id","in":"path","description":"Adapter ID","required":true,"schema":{"type":"integer"},"example":10}],"responses":{"200":{"description":"Return example csv file for downloading","content":{"text/csv":{"schema":{"description":"Adapter settings CSV file example","type":"string","example":"os;traffic_types;ad_formats;countries;sizes;bundles\n;'Desktop, Mobile Web, Mobile App, CTV';'Banner, Video, Native, Audio';'BES, IRQ';'120x60, 234x60, 120x240, 240x400';\n'AIX, iOS, NetBSD, OpenSUSE';'Mobile App';'Banner, Video, Audio';;;'rogahn.com, leannon.com, predovic.com'\n'Gentoo, MeeGo';'Mobile App';;'IOT, OMN';120x90;'klocko.com, fay.net'\n'MeeGo, Ubuntu';'Desktop, Mobile Web';'Banner, Video, Native';'GMB, MYT, MNE';120x90;'hettinger.com, lubowitz.com, mohr.net'\n'Android, Debian, DragonFly, Firefox OS, Zenwalk';'Mobile App';'Banner, Native';'ASM, AZE, CPV, COM, SSD';;'friesen.biz, howell.biz, price.org, swaniawski.com'"}}}}},"security":[{"bearerAuth":[]}]}},"/adapters/custom-rtb/default-settings":{"get":{"tags":["Adapters"],"summary":"Return Adapter by ID.","operationId":"8867c470d21aead5c7eb8267be6b65a0","responses":{"200":{"description":"Adapter data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdaptersCustomRtbDefaultSettings"}}}}},"security":[{"bearerAuth":[]}]}},"/ads-txt":{"post":{"tags":["Ads.txt"],"summary":"Return paginated ads.txt list.","operationId":"eda9a1ee48adff3a312f83b643768f81","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdsTxtListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdsTxtPaginatedCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/ads-txt/{id}":{"get":{"tags":["Ads.txt"],"summary":"Return ads.txt by ID.","operationId":"53a16d7646b3ec01bbcca562accecb65","parameters":[{"name":"id","in":"path","description":"Ads.txt ID","required":true,"schema":{"type":"integer"},"example":12}],"responses":{"200":{"description":"Ads.txt data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdsTxtResource"}}}}},"security":[{"bearerAuth":[]}]}},"/ads-txt/store":{"post":{"tags":["Ads.txt"],"summary":"Create new ads.txt.","operationId":"2f34e2b382b5b6a0e9cb6486c24a175d","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdsTxtRequest"}}}},"responses":{"200":{"description":"Ads.txt data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdsTxtResource"}}}}},"security":[{"bearerAuth":[]}]}},"/ads-txt/{id}/update":{"post":{"tags":["Ads.txt"],"summary":"Update existed ads.txt.","operationId":"7745166ac519e6f10f220f8e95824103","parameters":[{"name":"id","in":"path","description":"Ads.txt ID","required":true,"schema":{"type":"integer"},"example":7}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdsTxtRequest"}}}},"responses":{"200":{"description":"Ads.txt data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdsTxtResource"}}}}},"security":[{"bearerAuth":[]}]}},"/ads-txt/{id}/destroy":{"post":{"tags":["Ads.txt"],"summary":"Destroy existed ads.txt.","operationId":"436d2e6e9f90256a00105def7db2ef0b","parameters":[{"name":"id","in":"path","description":"Ads.txt ID","required":true,"schema":{"type":"integer"},"example":23}],"responses":{"200":{"description":"Entity deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestroySuccessStatusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/alerts":{"post":{"tags":["Alerts"],"summary":"Return paginated Alert list.","operationId":"59fb7fc1df69fa31dc6f54c8a0ce35a6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertPaginatedCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/alerts/{id}":{"get":{"tags":["Alerts"],"summary":"Return Alert by ID.","operationId":"9620a60e84a60130334ad7dd24414090","parameters":[{"name":"id","in":"path","description":"Alert ID","required":true,"schema":{"type":"integer"},"example":21}],"responses":{"200":{"description":"Alert data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertResource"}}}}},"security":[{"bearerAuth":[]}]}},"/alerts/store":{"post":{"tags":["Alerts"],"summary":"Create new Alert.","operationId":"5167bade6fa91481b9181b2a72ff190e","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertRequest"}}}},"responses":{"200":{"description":"Alert data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertResource"}}}}},"security":[{"bearerAuth":[]}]}},"/alerts/{id}/update":{"post":{"tags":["Alerts"],"summary":"Update existed Alert.","operationId":"9bb42bc89ea43dcca956253a3b01d764","parameters":[{"name":"id","in":"path","description":"Alert ID","required":true,"schema":{"type":"integer"},"example":21}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertRequest"}}}},"responses":{"200":{"description":"Alert data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertResource"}}}}},"security":[{"bearerAuth":[]}]}},"/alerts/{id}/destroy":{"post":{"tags":["Alerts"],"summary":"Destroy existed Alert.","operationId":"2ebe0b6b7e26a8b9fc5a49353bcad7fc","parameters":[{"name":"id","in":"path","description":"Alert ID","required":true,"schema":{"type":"integer"},"example":22}],"responses":{"200":{"description":"Entity deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestroySuccessStatusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/alerts/{id}/status":{"post":{"tags":["Alerts"],"summary":"Toggle Alert status by id","operationId":"66aeb9dd4dc3186266082cd802a616f9","parameters":[{"name":"id","in":"path","description":"Alert ID","required":true,"schema":{"type":"integer"},"example":11}],"responses":{"200":{"description":"Alert data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertResource"}}}}},"security":[{"bearerAuth":[]}]}},"/login":{"post":{"tags":["Auth"],"summary":"Handle an incoming authentication request.","description":"For Postman, you can add a script to the Post-response section of the endpoint to automatically set the Bearer token\n<pre>pm.test(\"Extract token\", function () {\n    var jsonData = pm.response.json();\n    pm.environment.set(\"bearerToken\", jsonData.access_token);\n});</pre>","operationId":"60f45f26ada20045cc3deb77c7cf77bd","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}}},"responses":{"200":{"description":"JWT via given credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}}}},"/logout":{"post":{"tags":["Auth"],"summary":"Log the user out (Invalidate the token).","operationId":"d77cf98edbe6420e5c410311fd05cb22","responses":{"200":{"description":"Successfully logged out","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"Successfully logged out."}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/login-as/{id}":{"post":{"tags":["Auth"],"summary":"Handle an incoming authentication request.","operationId":"fe11336786fc756e8f403db7e9a50479","parameters":[{"name":"id","in":"path","description":"User id","required":true,"schema":{"type":"integer"},"example":6}],"responses":{"200":{"description":"JWT via given credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/email/verification-notification":{"post":{"tags":["Auth"],"summary":"Send a new email verification notification.","operationId":"61e375292e7094de95900b8f52b6fbaa","requestBody":{"content":{"application/json":{"schema":{"properties":{"email":{"type":"string","example":"john.doe@mail.com"}},"type":"object"}}}},"responses":{"200":{"description":"Email verification has been sent","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"New email verification notification has been sent."}},"type":"object"}}}}}}},"/reset-password":{"post":{"tags":["Auth"],"summary":"Handle an incoming new password request.","operationId":"e7d7673e585ce3df93d9caa32d3fe08a","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetRequest"}}}},"responses":{"200":{"description":"The password has been reset","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"Your password has been reset!"}},"type":"object"}}}}}}},"/forgot-password":{"post":{"tags":["Auth"],"summary":"Handle an incoming password reset link request.","operationId":"dc47d8de73d715779dfb3a70204cceb2","requestBody":{"content":{"application/json":{"schema":{"properties":{"email":{"type":"string","example":"john.doe@mail.com"}},"type":"object"}}}},"responses":{"200":{"description":"The password reset link has been sent","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"We have emailed your password reset link!"}},"type":"object"}}}}}}},"/permissions":{"get":{"tags":["Auth"],"summary":"Get permissions of login user","operationId":"8da108fb860dae377a725be4bffc712e","responses":{"200":{"description":"data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionResourcesCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/register":{"post":{"tags":["Auth"],"summary":"Handle an incoming registration request.","operationId":"6f78ef36dbbd3a0a7bffdf8ce59228f7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistrationRequest"}}}},"responses":{"200":{"description":"Successfully verified","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"Thank you for creating an account. To complete your registration, please follow instructions from the email."}},"type":"object"}}}}}}},"/verify-email/{id}/{hash}":{"get":{"tags":["Auth"],"summary":"Mark the authenticated user's email address as verified.","operationId":"bb4b893f5bd606e136b93d41b55b943f","parameters":[{"name":"id","in":"path","description":"User id","required":true,"schema":{"type":"integer"},"example":21},{"name":"hash","in":"path","description":"Verification token","required":true,"schema":{"type":"string"},"example":"c3314173808bcdf19c331417383ba73ba0fabf87b41df19c08bcd"}],"responses":{"200":{"description":"JWT via given credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/companies":{"post":{"tags":["Companies"],"summary":"Return paginated company list.","operationId":"ad342fceeb2c4a5a676557e8a235c610","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompaniesListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompaniesResourceCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/companies/{id}":{"get":{"tags":["Companies"],"summary":"Return company by ID.","operationId":"690b35a4304647a45dbc550154c9ec88","parameters":[{"name":"id","in":"path","description":"Company ID","required":true,"schema":{"type":"integer"},"example":8}],"responses":{"200":{"description":"User data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyResource"}}}}},"security":[{"bearerAuth":[]}]}},"/companies/store":{"post":{"tags":["Companies"],"summary":"Create new company.","operationId":"fa63cd5cf4d6b221c3736783fee11a55","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyRequest"}}}},"responses":{"200":{"description":"Company data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyResource"}}}}},"security":[{"bearerAuth":[]}]}},"/companies/{id}/update":{"post":{"tags":["Companies"],"summary":"Update existed company.","operationId":"9a4e9a7399353736285e1cfcbe280ba2","parameters":[{"name":"id","in":"path","description":"Company ID","required":true,"schema":{"type":"integer"},"example":3}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyRequest"}}}},"responses":{"200":{"description":"Company data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyResource"}}}}},"security":[{"bearerAuth":[]}]}},"/companies/{id}/status":{"post":{"tags":["Companies"],"summary":"Toggle company status by id","operationId":"7096aad4c72b5bbe40b4ad8c7fa78cfe","parameters":[{"name":"id","in":"path","description":"Company ID","required":true,"schema":{"type":"integer"},"example":21}],"responses":{"200":{"description":"Company data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyResource"}}}}},"security":[{"bearerAuth":[]}]}},"/dashboard/load-widget/{id}":{"post":{"tags":["Dashboard"],"summary":"Return dashboard widget data","operationId":"dc561ed88b4e812e2d533182e32defc6","parameters":[{"name":"id","in":"path","description":"Dashboard Widget ID","required":true,"schema":{"type":"integer"},"example":23}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardWidgetResourcesCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/dashboard/chart":{"post":{"tags":["Dashboard"],"summary":"Return dashboard data for chart.","operationId":"0ec0e6c9160c5f2fcc20b046943198cc","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardChartRequest"}}}},"responses":{"200":{"description":"Chart data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardChartResourcesCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/dashboard-widget":{"get":{"tags":["Dashboard Widgets"],"summary":"Return dashboard widget list.","operationId":"5febb778cacb561ef7669373c5dbaa2e","responses":{"200":{"description":"Dashboard widget list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardWidgetCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/dashboard-widget/{id}":{"get":{"tags":["Dashboard Widgets"],"summary":"Return dashboard widget by ID.","operationId":"3a5e796e94b6775c23bebfa740c54e1d","parameters":[{"name":"id","in":"path","description":"Dashboard widget ID","required":true,"schema":{"type":"integer"},"example":12}],"responses":{"200":{"description":"Dashboard widget data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardWidgetResource"}}}}},"security":[{"bearerAuth":[]}]}},"/dashboard-widget/store":{"post":{"tags":["Dashboard Widgets"],"summary":"Create new dashboard widget.","operationId":"f3304644fe16e3998c7a53e1c796cfd6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardWidgetRequest"}}}},"responses":{"200":{"description":"Dashboard widget data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardWidgetResource"}}}}},"security":[{"bearerAuth":[]}]}},"/dashboard-widget/{id}/update":{"post":{"tags":["Dashboard Widgets"],"summary":"Update existed dashboard widget.","operationId":"f61570a57f6ef33f368e8670bed2a503","parameters":[{"name":"id","in":"path","description":"Dashboard Widget ID","required":true,"schema":{"type":"integer"},"example":7}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardWidgetRequest"}}}},"responses":{"200":{"description":"Dashboard widget data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardWidgetResource"}}}}},"security":[{"bearerAuth":[]}]}},"/dashboard-widget/{id}/destroy":{"post":{"tags":["Dashboard Widgets"],"summary":"Destroy existed dashboard widget.","operationId":"ca4ad11fa658cebc0aa6798d6c5218e9","parameters":[{"name":"id","in":"path","description":"Dashboard Widget ID","required":true,"schema":{"type":"integer"},"example":23}],"responses":{"200":{"description":"Entity deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestroySuccessStatusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/deals":{"post":{"tags":["Deals"],"summary":"Return paginated deals list.","operationId":"7c6ce54a2e8f6a96dc928bf3258a49c6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealsListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealsPaginatedCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/deals/{id}":{"get":{"tags":["Deals"],"summary":"Return deal by ID.","operationId":"de2d132c07c72ac096d9bcf4958c78a0","parameters":[{"name":"id","in":"path","description":"Deal ID","required":true,"schema":{"type":"integer"},"example":12}],"responses":{"200":{"description":"Deal data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealResource"}}}}},"security":[{"bearerAuth":[]}]}},"/deals/store":{"post":{"tags":["Deals"],"summary":"Create new deal.","operationId":"3b6aedf557204c1b0c91882e02a82315","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealRequest"}}}},"responses":{"200":{"description":"Deal data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealResource"}}}}},"security":[{"bearerAuth":[]}]}},"/deals/{id}/update":{"post":{"tags":["Deals"],"summary":"Update deal data by ID","operationId":"a30eaedd8aacfb1c5d190b407851bb98","parameters":[{"name":"id","in":"path","description":"Deal ID","required":true,"schema":{"type":"integer"},"example":7}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealRequest"}}}},"responses":{"200":{"description":"Deal data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealResource"}}}}},"security":[{"bearerAuth":[]}]}},"/deals/{id}/destroy":{"post":{"tags":["Deals"],"summary":"Destroy deal data by ID","operationId":"2f367e12a0135c6e9717a4619609abd3","parameters":[{"name":"id","in":"path","description":"Deal ID","required":true,"schema":{"type":"integer"},"example":7}],"responses":{"200":{"description":"Entity deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestroySuccessStatusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/deals/{id}/export-values":{"get":{"tags":["Deals"],"summary":"Return csv file for downloading","operationId":"36d796a955d04e28698f251e523c4bfc","parameters":[{"name":"id","in":"path","description":"Deal ID","required":true,"schema":{"type":"integer"},"example":7}],"responses":{"200":{"description":"Return csv file for downloading","content":{"text/csv":{"schema":{"description":"Deal values CSV file","type":"string","example":"value\nabshire.com\narmstrong.com\ntrantow.com\nschuppe.com\nparisian.biz\nschulist.biz"}}}}},"security":[{"bearerAuth":[]}]}},"/deals/export-values-example":{"get":{"tags":["Deals"],"summary":"Return example csv file for downloading","operationId":"2313f94232046ad11d0d9bdc3507b7af","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealExampleRequest"}}}},"responses":{"200":{"description":"Return example csv file for downloading","content":{"text/csv":{"schema":{"description":"Deal values CSV file example","type":"string","example":"value\nabshire.com\narmstrong.com\ntrantow.com\nschuppe.com\nparisian.biz\nschulist.biz"}}}}},"security":[{"bearerAuth":[]}]}},"/deals/{id}/values":{"post":{"tags":["Deals"],"summary":"Return paginated deal values","operationId":"d417ceb4ff075b03c33c85ce6a801999","parameters":[{"name":"id","in":"path","description":"Deal ID","schema":{"type":"integer"},"example":7}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValuesListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealValuesPaginatedCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/deals/{id}/import-values":{"post":{"tags":["Deals"],"summary":"Import deal values file","operationId":"2aeb2eea39bc90457706385edd5ae609","parameters":[{"name":"id","in":"path","description":"Deal ID","schema":{"type":"integer"},"example":7}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/DealImportValuesRequest"}}}},"responses":{"200":{"description":"Import successed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/deals/{id}/add-value":{"post":{"tags":["Deals"],"summary":"Add deal value","operationId":"3af1d6ebdc37d79b3c96320a5d986328","parameters":[{"name":"id","in":"path","description":"Deal ID","schema":{"type":"integer"},"example":7}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/DealAddValuesRequest"}}}},"responses":{"200":{"description":"Item added","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"Item added"}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/deals/{id}/clear-values":{"post":{"tags":["Deals"],"summary":"Clear deal values","operationId":"49b499756624366ff01d90d658e69807","parameters":[{"name":"id","in":"path","description":"Deal ID","schema":{"type":"integer"},"example":7}],"responses":{"200":{"description":"Items cleared","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"Items cleared"}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/deals/{id}/remove-value":{"post":{"tags":["Deals"],"summary":"Remove deal value","operationId":"f00030f7bedf037c6d230ecc02dd2420","parameters":[{"name":"id","in":"path","description":"Deal ID","schema":{"type":"integer"},"example":7}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/DealRemoveValueRequest"}}}},"responses":{"200":{"description":"Successfully removed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestroySuccessStatusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/deals/{id}/status":{"post":{"tags":["Deals"],"summary":"Toggle deal status by id","operationId":"9e90bacba5d6a6856c38fb400a4af0a4","parameters":[{"name":"id","in":"path","description":"Deal ID","required":true,"schema":{"type":"integer"},"example":7}],"responses":{"200":{"description":"Deal data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealResource"}}}}},"security":[{"bearerAuth":[]}]}},"/demand-sources":{"post":{"tags":["Demand Sources"],"summary":"Return paginated demand sources list.","operationId":"2b49c7da427226c6a3d17ec043607ec1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemandSourcesListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemandSourcesPaginatedCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/demand-sources/{id}":{"get":{"tags":["Demand Sources"],"summary":"Return demand source by ID.","operationId":"eafbb2bc5b81b1bd02d4cfc9ba86fa37","parameters":[{"name":"id","in":"path","description":"Demand source ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Demand source data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemandSourceResource"}}}}},"security":[{"bearerAuth":[]}]}},"/demand-sources/store":{"post":{"tags":["Demand Sources"],"summary":"Create new demand source.","operationId":"de65dd0b8c3a1bb428d559661410d20c","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemandSourceRequest"}}}},"responses":{"200":{"description":"Demand source data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemandSourceResource"}}}}},"security":[{"bearerAuth":[]}]}},"/demand-sources/{id}/update":{"post":{"tags":["Demand Sources"],"summary":"Update existed demand source.","operationId":"64c4e0406d5b395b60e10cd4986f56a6","parameters":[{"name":"id","in":"path","description":"Demand source ID","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemandSourceRequest"}}}},"responses":{"200":{"description":"Demand source data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemandSourceResource"}}}}},"security":[{"bearerAuth":[]}]}},"/demand-sources/{id}/status":{"post":{"tags":["Demand Sources"],"summary":"Toggle demand source status by id","operationId":"00ddf555550b826321c3f6ce4d5e1854","parameters":[{"name":"id","in":"path","description":"Demand source ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Demand source data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemandSourceResource"}}}}},"security":[{"bearerAuth":[]}]}},"/demand-sources/{id}/clone":{"post":{"tags":["Demand Sources"],"summary":"Clone existed demand source.","operationId":"8cc98309764a531f1da1ac905eb110e8","parameters":[{"name":"id","in":"path","description":"Demand source ID","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemandSourceCloneRequest"}}}},"responses":{"200":{"description":"Demand source data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemandSourceResource"}}}}},"security":[{"bearerAuth":[]}]}},"/demand-sources/qps-capacity":{"get":{"tags":["Demand Sources"],"summary":"Return region total QPS capacity list.","operationId":"27a09038973fac362613de26b7e8545c","responses":{"200":{"description":"Total QPS capacities","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QpsCapacityResourceCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/dictionaries/{type}":{"post":{"tags":["Dictionaries"],"operationId":"3e28299fe1f16b69ccbd847952fa0681","parameters":[{"name":"type","in":"path","required":true,"schema":{"$ref":"#/components/schemas/DictionaryType"},"example":"countries"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionariesRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryResource"}}}}},"security":[{"bearerAuth":[]}]}},"/dictionaries/countries":{"post":{"tags":["Dictionaries"],"operationId":"27363cdc84e6dc53dda33b16f5667068","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionariesRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryCountryResource"}}}}}}},"/errors/export-errors-by-hash/{hash}":{"get":{"tags":["Errors"],"summary":"Return csv file with errors for downloading by hash","operationId":"771edaefb677a963a05408b543e8db5b","parameters":[{"name":"hash","in":"path","description":"Values hash","required":true,"schema":{"type":"string"},"example":"08bcdf19c331417383ba73ba0fabf87b"}],"responses":{"200":{"description":"Return csv file for downloading"}},"security":[{"bearerAuth":[]}]}},"/filter-lists":{"post":{"tags":["Filter Lists"],"summary":"Return paginated filter lists.","operationId":"7566d9c24bc392322980c23989aa5465","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterListsListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterListsPaginatedCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/filter-lists/{id}":{"get":{"tags":["Filter Lists"],"summary":"Return filter list by ID.","operationId":"8cb7dbb9c312b551352d01e2e23ee607","parameters":[{"name":"id","in":"path","description":"ID","required":true,"schema":{"type":"integer"},"example":32}],"responses":{"200":{"description":"Filter List data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterListResource"}}}}},"security":[{"bearerAuth":[]}]}},"/filter-lists/store":{"post":{"tags":["Filter Lists"],"summary":"Create new filter list.","operationId":"7d4f05a51e3d37d45911f7296c8fd2ce","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterListRequest"}}}},"responses":{"200":{"description":"Filter List data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterListResource"}}}}},"security":[{"bearerAuth":[]}]}},"/filter-lists/{id}/update":{"post":{"tags":["Filter Lists"],"summary":"Update filter list data by ID","operationId":"ea9855d16fea6e4aa975904e4d614e3a","parameters":[{"name":"id","in":"path","description":"Filter List ID","required":true,"schema":{"type":"integer"},"example":43}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterListUpdateRequest"}}}},"responses":{"200":{"description":"Filter List data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterListResource"}}}}},"security":[{"bearerAuth":[]}]}},"/filter-lists/{id}/destroy":{"post":{"tags":["Filter Lists"],"summary":"Destroy filter list data by ID","operationId":"cc2821469a7fad68a6c34d1103a88e81","parameters":[{"name":"id","in":"path","description":"Filter List ID","required":true,"schema":{"type":"integer"},"example":32}],"responses":{"200":{"description":"Entity deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestroySuccessStatusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/filter-lists/{id}/export-values":{"get":{"tags":["Filter Lists"],"summary":"Return csv file for downloading","operationId":"25a8de64967c1067e1e8539f6225b884","parameters":[{"name":"id","in":"path","description":"Filter List ID","required":true,"schema":{"type":"integer"},"example":32}],"responses":{"200":{"description":"Return csv file for downloading ","content":{"text/csv":{"schema":{"description":"Filter list values CSV file","type":"string","example":"value\nabshire.com\narmstrong.com\ntrantow.com\nschuppe.com\nparisian.biz\nschulist.biz"}}}}},"security":[{"bearerAuth":[]}]}},"/filter-lists/export-values-example":{"get":{"tags":["Filter Lists"],"summary":"Return example csv file for downloading","operationId":"c133bbfbbab288461590f76a553fc768","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterListExampleRequest"}}}},"responses":{"200":{"description":"Return example csv file for downloading","content":{"text/csv":{"schema":{"description":"Filter list values CSV file example","type":"string","example":"value\nabshire.com\narmstrong.com\ntrantow.com\nschuppe.com\nparisian.biz\nschulist.biz"}}}}},"security":[{"bearerAuth":[]}]}},"/filter-lists/{id}/values":{"post":{"tags":["Filter Lists"],"summary":"Return paginated filter list values","operationId":"ca009331a50e370faf5e58337220e424","parameters":[{"name":"id","in":"path","description":"Filter List ID","schema":{"type":"integer"},"example":32}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValuesListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterListValuesPaginatedCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/filter-lists/{id}/import-values":{"post":{"tags":["Filter Lists"],"summary":"Import filter lists values file","operationId":"b20fda4cc38e1868ddb379713c549485","parameters":[{"name":"id","in":"path","description":"Filter List ID","schema":{"type":"integer"},"example":32}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FilterListImportValuesRequest"}}}},"responses":{"200":{"description":"Import successed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/filter-lists/{id}/add-value":{"post":{"tags":["Filter Lists"],"summary":"Add filter lists values","operationId":"8eeb5976b5025e867f9e0d75d8d1cced","parameters":[{"name":"id","in":"path","description":"Filter List ID","schema":{"type":"integer"},"example":32}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FilterListAddValuesRequest"}}}},"responses":{"200":{"description":"Item added","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"Item added"}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/filter-lists/{id}/clear-values":{"post":{"tags":["Filter Lists"],"summary":"Clear filter list values","operationId":"c4b7db2b2d1410732fecb420110234fb","parameters":[{"name":"id","in":"path","description":"Filter List ID","schema":{"type":"integer"},"example":32}],"responses":{"200":{"description":"Items cleared","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"Items cleared"}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/filter-lists/{id}/remove-value":{"post":{"tags":["Filter Lists"],"summary":"Remove filter lists value","operationId":"17871ef67838848dcf920ea079984d8f","parameters":[{"name":"id","in":"path","description":"Filter List ID","schema":{"type":"integer"},"example":32}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FilterListRemoveValueRequest"}}}},"responses":{"200":{"description":"Successfully removed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestroySuccessStatusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/filter-lists/{id}/status":{"post":{"tags":["Filter Lists"],"summary":"Toggle filter list status by id","operationId":"7c3d6e778d56d1070c5b35ac47aa9f81","parameters":[{"name":"id","in":"path","description":"Filter list ID","required":true,"schema":{"type":"integer"},"example":32}],"responses":{"200":{"description":"Filter list data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterListResource"}}}}},"security":[{"bearerAuth":[]}]}},"/help-center/{space}":{"get":{"tags":["Help Center"],"summary":"Return articles tree.","operationId":"722ad590875e8e8586f6b19f3a3d6cf7","parameters":[{"name":"space","in":"path","description":"Help Center Space","required":true,"schema":{"type":"string","enum":["supply-integrations","admin-knowledge-center"],"example":"supply-integrations"}}],"responses":{"200":{"description":"Articles tree","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfluenceResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/help-center/{space}/{id}":{"get":{"tags":["Help Center"],"summary":"Return article by ID.","operationId":"a34a238070d90a93b45398b3176a7646","parameters":[{"name":"space","in":"path","description":"Help Center Space","required":true,"schema":{"type":"string","enum":["supply-integrations","admin-knowledge-center"],"example":"supply-integrations"}},{"name":"id","in":"path","description":"Article ID","required":true,"schema":{"type":"integer"},"example":1352}],"responses":{"200":{"description":"Article","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfluenceArticle"}}}}},"security":[{"bearerAuth":[]}]}},"/help-center/{space}/search":{"get":{"tags":["Help Center"],"summary":"Return articles by query.","operationId":"386abd0100d19251b68c0b162d671fa7","parameters":[{"name":"space","in":"path","description":"Help Center Space","required":true,"schema":{"type":"string","enum":["supply-integrations","admin-knowledge-center"],"example":"supply-integrations"}},{"name":"query","in":"query","description":"Search query","required":true,"schema":{"type":"string"},"example":"Some search query"}],"responses":{"200":{"description":"Articles list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfluenceSearchResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/supply-sources/{id}/placements":{"post":{"tags":["Supply Sources"],"summary":"Return paginated supply source placement list.","operationId":"f9fdf464912e9cb2e5f2d7c460289918","parameters":[{"name":"id","in":"path","description":"Supply source ID","required":true,"schema":{"type":"integer"},"example":32}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlacementsListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlacementPaginatedCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/supply-sources/{id}/placements/{placement_id}/status":{"post":{"tags":["Supply Sources"],"summary":"Toggle placement status by id","operationId":"857ef8c503a55c46317d5f77b493dcb9","parameters":[{"name":"id","in":"path","description":"Supply source ID","required":true,"schema":{"type":"integer"},"example":32},{"name":"placement_id","in":"path","description":"Placement ID","required":true,"schema":{"type":"integer"},"example":32}],"responses":{"200":{"description":"Placement data","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SupplySource_PlacementBannerResource"},{"$ref":"#/components/schemas/SupplySource_PlacementVideoResource"},{"$ref":"#/components/schemas/SupplySource_PlacementAudioResource"},{"$ref":"#/components/schemas/SupplySource_PlacementNativeResource"}]}}}}},"security":[{"bearerAuth":[]}]}},"/platform-settings":{"get":{"tags":["Platform Settings"],"summary":"Fetch current platform settings","operationId":"cf906a12f6afeecdf98f8c7f130a77df","responses":{"200":{"description":"Platform settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformSettingsResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Platform Settings"],"summary":"Update platform setting","operationId":"3a16c03415ce9e3b772b44f88a517217","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformSettingsRequest"}}}},"responses":{"200":{"description":"Array with settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformSettingsResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/platform-settings/upload-temp":{"post":{"tags":["Platform Settings"],"summary":"Upload file to temporary location","operationId":"92d39637c050f9439215793d21d89ca5","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/PlatformSettingsUploadTempRequest"}}}},"responses":{"200":{"description":"Temporary file path","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean","example":true},"temp_path":{"type":"string","example":"temp/uploads/platform-assets/abc123_1234567890.png"}},"type":"object"}}}},"422":{"description":"Validation error"}},"security":[{"bearerAuth":[]}]}},"/platform-settings/update-field":{"post":{"tags":["Platform Settings"],"summary":"Update platform setting field","operationId":"e602f323c5b332436a40a61e36d1097d","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformSettingsFieldRequest"}}}},"responses":{"200":{"description":"Array with settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformSettingsResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/platform-settings/info":{"get":{"tags":["Platform Settings"],"summary":"Fetch general platform settings","operationId":"45012d3a63eb45702eb9a28ef5961523","responses":{"200":{"description":"Common platform settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformCommonDataResponse"}}}}}}},"/ads-txt-verification":{"post":{"tags":["Ads.txt Verification"],"summary":"Return paginated crawled data.","operationId":"0648f09d260b2591273b844e5318f8d4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdsTxtVerificationListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdsTxtVerificationResourcesCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/ads-txt-verification/history":{"post":{"tags":["Ads.txt Verification"],"summary":"Return paginated history data.","operationId":"6cc320f74bf6338531bd62812ae58b1b","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdsTxtHistoryResourcesCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/ads-txt-verification/columns-list":{"get":{"tags":["Ads.txt Verification"],"summary":"Get columns list","operationId":"1fa9f4c2c16d3b766778e5c4bca8478b","responses":{"200":{"description":"Columns configuration list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ColumnsConfigResource"}}}}},"security":[{"bearerAuth":[]}]}},"/ads-txt-verification/export":{"post":{"tags":["Ads.txt Verification"],"summary":"Return csv file for downloading","operationId":"7b54c6569ea6e89683ee1e39a3c8b506","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdsTxtVerificationListExportRequest"}}}},"responses":{"200":{"description":"Return csv file for downloading","content":{"text/csv":{"schema":{"description":"Statistic data CSV file","type":"string","example":"Company;Domain/Bundle;Traffic type;Status\nCompany 1;1008894711;Mobile App;No ads.txt\nCompany 2;1010623331;Web;Entry found\nCompany 3;1018795567;Mobile App;No entry found"}}}}},"security":[{"bearerAuth":[]}]}},"/bids-overview/{type}":{"post":{"tags":["Bids Overview"],"summary":"Return paginated bids overview data.","operationId":"3d3771904eb43f621c11b06a2a31c140","parameters":[{"name":"type","in":"path","description":"Bids overview type","required":true,"schema":{"type":"string","enum":["incoming","outgoing","responses"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidsOverviewRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidsOverviewResourcesCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/bids-overview/details/{type}":{"post":{"tags":["Bids Overview"],"summary":"Return paginated bids overview data.","operationId":"27629053673c7fa295bb477d147064df","parameters":[{"name":"type","in":"path","description":"Bids overview type","required":true,"schema":{"type":"string","enum":["incoming","outgoing","responses"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidsOverviewRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidsOverviewDetailedResourcesCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/bids-overview/export/{type}":{"post":{"tags":["Bids Overview"],"summary":"Return csv file for downloading","operationId":"47408d3131862a8e39461f8ce05a1694","parameters":[{"name":"type","in":"path","description":"Bids overview type","required":true,"schema":{"type":"string","enum":["incoming","outgoing","responses"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidsOverviewExportRequest"}}}},"responses":{"200":{"description":"Return csv file for downloading","content":{"text/csv":{"schema":{"description":"Statistic data CSV file","type":"string","example":"Date;Impressions;Demand Fill Rate, %;Supply revenue, $\n2023-03-30;6525576;89.05723;0.00273\n2023-03-31;10124170;129.61073;0.00503\n2023-04-01;12396492;123.62620;0.00618"}}}}},"security":[{"bearerAuth":[]}]}},"/discrepancy-report":{"post":{"tags":["Discrepancy Report"],"summary":"Return paginated discrepancy data.","operationId":"650407ae58e060ee621411a33acdc780","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscrepancyReportPaginatedRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscrepancyReportResourcesCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/discrepancy-report/set-api-url":{"post":{"tags":["Discrepancy Report"],"summary":"Set API url.","operationId":"83381fd4a0a1717d382a02bf4cdf4c7f","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreSourceUrlRequest"}}}},"responses":{"200":{"description":"Status message","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"API sync url has been saved."}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/discrepancy-report/validate-api-url":{"post":{"tags":["Discrepancy Report"],"summary":"Validate API url.","operationId":"73211f7532e404cdbb43c2b40b310537","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UrlValidationRequest"}}}},"responses":{"200":{"description":"API url is valid","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/APISyncUrlValidCSVResponse"},{"$ref":"#/components/schemas/APISyncUrlValidNotCSVResponse"}]}}}}},"security":[{"bearerAuth":[]}]}},"/discrepancy-report/sync":{"post":{"tags":["Discrepancy Report"],"summary":"Sync API data","operationId":"a0c61be82172afccf047663ff064c3f3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscrepancySyncApiRequest"}}}},"responses":{"200":{"description":"Status message","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"API sync has been started."}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/discrepancy-report/export":{"post":{"tags":["Discrepancy Report"],"summary":"Return csv file for downloading","operationId":"da2b52305926206cc0e9b7683e962668","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscrepancyReportRequest"}}}},"responses":{"200":{"description":"Return csv file for downloading","content":{"text/csv":{"schema":{"description":"Statistic data CSV file","type":"string","example":"Company Name;Source name;Source type;Impressions;Impressions from api link;Impressions discrepancy;Spend;Spend from api link;Spend discrepancy\nCompany #1;Source #1;supply;202334;213584;-5.56;146.15;168.53;-15.32\nCompany #2;Source #2;demand;13157;213584;-1523.35;27.85;168.53;-505.07\nCompany #3;Source #3;supply;0;0;0;0;0;0"}}}}},"security":[{"bearerAuth":[]}]}},"/human-report/{type}":{"post":{"tags":["HUMAN Report"],"summary":"Return paginated HUMAN report data.","operationId":"15a5262b7e0981aa877d62fac57b5c3e","parameters":[{"name":"type","in":"path","description":"HUMAN report type","required":true,"schema":{"type":"string","enum":["risk-metrics","traffic-report"],"example":"risk-metrics"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HumanReportRequestWithPagination"},"example":{"attributes":["date"],"metrics":["requests_sum","mfa_sum","sivt_sum","givt_sum"],"filter":{"date_from":"2026-03-01","date_to":"2026-03-17","date":"day","timezone":"UTC"},"sort":[{"field":"date","direction":"asc"}],"per_page":25,"page":1}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HumanReportPaginatedResources"}}}}},"security":[{"bearerAuth":[]}]}},"/human-report/columns-list/{type}":{"get":{"tags":["HUMAN Report"],"summary":"Get HUMAN report columns list","operationId":"64615e67f3c0a1ff786cdd28aa42dae7","parameters":[{"name":"type","in":"path","description":"HUMAN report type","required":true,"schema":{"type":"string","enum":["risk-metrics","traffic-report"],"example":"risk-metrics"}}],"responses":{"200":{"description":"Columns configuration list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HumanReportColumnsConfigResource"}}}}},"security":[{"bearerAuth":[]}]}},"/human-report/chart/{type}":{"post":{"tags":["HUMAN Report"],"summary":"Return HUMAN report data for chart.","operationId":"d5f5127493643de6f8af084e4aec36a3","parameters":[{"name":"type","in":"path","description":"HUMAN report type","required":true,"schema":{"type":"string","enum":["risk-metrics","traffic-report"],"example":"risk-metrics"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HumanReportRequest"},"example":{"attributes":["date"],"metrics":["requests_sum","mfa_sum","sivt_sum","givt_sum"],"filter":{"date_from":"2026-03-01","date_to":"2026-03-17","date":"day","timezone":"UTC"},"sort":[{"field":"date","direction":"asc"}]}}}},"responses":{"200":{"description":"Chart data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HumanReportChartResources"}}}}},"security":[{"bearerAuth":[]}]}},"/human-report/export/{type}":{"post":{"tags":["HUMAN Report"],"summary":"Return csv file for downloading","operationId":"a161fa25bcd518cfe444dec4844a02b6","parameters":[{"name":"type","in":"path","description":"HUMAN report type","required":true,"schema":{"type":"string","enum":["risk-metrics","traffic-report"],"example":"risk-metrics"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HumanReportRequest"},"example":{"attributes":["date"],"metrics":["requests_sum","mfa_sum","sivt_sum","givt_sum"],"filter":{"date_from":"2026-03-01","date_to":"2026-03-17","date":"day","timezone":"UTC"},"sort":[{"field":"date","direction":"asc"}]}}}},"responses":{"200":{"description":"Return csv file for downloading","content":{"text/csv":{"schema":{"description":"HUMAN report data CSV file","type":"string","example":"Date;Publisher ID;IVT Reason;Domain / Bundle;Requests;MFA;MFA Rate;SIVT;SIVT Rate;GIVT;GIVT Rate\n    2024-01-02;pub_123;Domain;example.com;453875;20305;4.47;15200;3.35;10100;2.22"}}}}},"security":[{"bearerAuth":[]}]}},"/human-report/settings":{"get":{"tags":["HUMAN Report"],"summary":"Return HUMAN report settings.","operationId":"3a5dd8d0da4efac4c3a70f12e0f035a5","responses":{"200":{"description":"HUMAN report settings","content":{"application/json":{"schema":{"properties":{"hmg_statistics_status":{"type":"boolean","example":true}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/presets":{"post":{"tags":["Presets"],"summary":"Return paginated presets list.","operationId":"5f14bd184931e75a95f3ce0508314baf","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresetListRequest"}}}},"responses":{"200":{"description":"Presets list","content":{"application/json":{"schema":{"properties":{"data":{"description":"List of presets","type":"array","items":{"$ref":"#/components/schemas/PresetResource"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/presets/store":{"post":{"tags":["Presets"],"summary":"Create new presets.","operationId":"6790f1a8a8924e3709eb3101f50bf52d","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresetRequest"}}}},"responses":{"200":{"description":"Preset data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresetResource"}}}}},"security":[{"bearerAuth":[]}]}},"/presets/{id}/update":{"post":{"tags":["Presets"],"summary":"Update existed presets.","operationId":"756c2f1014fe461f8a8bc3549614053c","parameters":[{"name":"id","in":"path","description":"Preset ID","required":true,"schema":{"type":"integer"},"example":3}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresetRequest"}}}},"responses":{"200":{"description":"Preset data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresetResource"}}}}},"security":[{"bearerAuth":[]}]}},"/presets/{id}/destroy":{"post":{"tags":["Presets"],"summary":"Destroy existed presets.","operationId":"c91148e02ba7fe64f855c1117263c370","parameters":[{"name":"id","in":"path","description":"Preset ID","required":true,"schema":{"type":"integer"},"example":3}],"responses":{"200":{"description":"Entity deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestroySuccessStatusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/report/columns-list":{"get":{"tags":["Report"],"summary":"Get a report columns list","operationId":"98b3e0a37cd33f7e3bea47fe0c914974","responses":{"200":{"description":"Columns configuration list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportColumnsConfigResource"}}}}},"security":[{"bearerAuth":[]}]}},"/report/{hash}":{"post":{"tags":["Report"],"summary":"Return paginated report data.","operationId":"f3f1da06aa6010e7262986e10122f2f3","parameters":[{"name":"hash","in":"path","description":"Request data hash","allowEmptyValue":true,"schema":{"type":"string"},"example":"08bcdf19c331417383ba73ba0fabf87b"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequestWithPagination"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportPaginatedResourcesCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/report/chart/{hash}":{"post":{"tags":["Report"],"summary":"Return report data for chart.","operationId":"113d74cc9c2dcfbc9e5b98b7433b44e2","parameters":[{"name":"hash","in":"path","description":"Request data hash","allowEmptyValue":true,"schema":{"type":"string"},"example":"08bcdf19c331417383ba73ba0fabf87b"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequest"}}}},"responses":{"200":{"description":"Chart data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportChartResourcesCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/report/export/{hash}":{"post":{"tags":["Report"],"summary":"Return csv file for downloading","operationId":"d76302162c3718d3a25164f32b86792d","parameters":[{"name":"hash","in":"path","description":"Request data hash","allowEmptyValue":true,"schema":{"type":"string"},"example":"08bcdf19c331417383ba73ba0fabf87b"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequest"}}}},"responses":{"200":{"description":"Return csv file for downloading","content":{"text/csv":{"schema":{"description":"Statistic data CSV file","type":"string","example":"Date;Impressions;Demand Fill Rate, %;Supply revenue, $\n2023-03-30;6525576;89.05723;0.00273\n2023-03-31;10124170;129.61073;0.00503\n2023-04-01;12396492;123.62620;0.00618"}}}}},"security":[{"bearerAuth":[]}]}},"/report/statistic/{type}":{"get":{"tags":["Discrepancy Report"],"summary":"Return paginated report data for a specified supply/demand source.","operationId":"bbacfbd4c7b49bf6d32ac59f49cea3f0","parameters":[{"name":"type","in":"path","description":"Request type","required":true,"schema":{"type":"string","enum":["csv","json","xml"],"example":"json"}},{"name":"filter[date_from]","in":"query","description":"Date from","required":true,"schema":{"type":"string","format":"date"},"example":"2024-01-01"},{"name":"filter[date_to]","in":"query","description":"Date to","required":true,"schema":{"type":"string","format":"date"},"example":"2024-01-10"},{"name":"filter[supply_source]","in":"query","description":"Supply source ID","required":false,"schema":{"type":"integer"},"example":15},{"name":"filter[demand_source]","in":"query","description":"Demand source ID","required":false,"schema":{"type":"integer"},"example":7},{"name":"per_page","in":"query","description":"Items per page","required":false,"schema":{"type":"integer"},"example":15},{"name":"page","in":"query","description":"Page","required":false,"schema":{"type":"integer"},"example":1}],"responses":{"200":{"description":"Statistic data formatted according to the requested type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartyTablePaginatedResourcesCollection"}},"application/xml":{"schema":{"$ref":"#/components/schemas/StatisticXMLResource"}},"text/csv":{"schema":{"description":"Statistic data CSV file","type":"string","example":"Date;Impressions;Demand Fill Rate, %;Supply revenue, $\n    2023-03-30;6525576;89.05723;0.00273\n    2023-03-31;10124170;129.61073;0.00503\n    2023-04-01;12396492;123.62620;0.00618"}}}}},"security":[{"bearerAuth":[]}]}},"/scanner-statistics/{type}":{"post":{"tags":["Scanner Statistics"],"summary":"Return paginated scanner statistics data.","operationId":"4cc9b752335f1db85db521e06f60363a","parameters":[{"name":"type","in":"path","description":"Scanner statistics type","required":true,"schema":{"type":"string","enum":["prebid","postbid"],"example":"prebid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScannerStatisticsRequestWithPagination"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScannerStatisticsPaginatedResources"}}}}},"security":[{"bearerAuth":[]}]}},"/scanner-statistics/columns-list/{type}":{"get":{"tags":["Scanner Statistics"],"summary":"Get scanner statistics columns list","operationId":"114c799b915b9f3e81ca4f634a50ba6e","parameters":[{"name":"type","in":"path","description":"Scanner statistics type","required":true,"schema":{"type":"string","enum":["prebid","postbid"],"example":"prebid"}}],"responses":{"200":{"description":"Columns configuration list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScannerStatisticsColumnsConfigResource"}}}}},"security":[{"bearerAuth":[]}]}},"/scanner-statistics/chart/{type}":{"post":{"tags":["Scanner Statistics"],"summary":"Return scanner statistics data for chart.","operationId":"5527175f27df2a425a47b940a5134b51","parameters":[{"name":"type","in":"path","description":"Scanner statistics type","required":true,"schema":{"type":"string","enum":["prebid","postbid"],"example":"prebid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScannerStatisticsRequest"}}}},"responses":{"200":{"description":"Chart data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScannerStatisticsChartResources"}}}}},"security":[{"bearerAuth":[]}]}},"/scanner-statistics/export/{type}":{"post":{"tags":["Scanner Statistics"],"summary":"Return csv file for downloading","operationId":"c17c99eb6246fb203fdbb7913e815401","parameters":[{"name":"type","in":"path","description":"Scanner statistics type","required":true,"schema":{"type":"string","enum":["prebid","postbid"],"example":"prebid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScannerStatisticsRequest"}}}},"responses":{"200":{"description":"Return csv file for downloading","content":{"text/csv":{"schema":{"description":"Statistic data CSV file","type":"string","example":"Date;Supply source;Demand source;Domain / Bundle;Scanner;Scan attempts;Scans\n    2023-05-02;787 #153;Boehm, Hintz and Wiegand #113;1144824851;Protected Media;453875;20305\n    2023-05-02;Altenwerth and Sons_Marisol #10;Jerde, Lesch and Gorczany #60;1086824054;Protected Media;688244;485551\n    2023-05-02;Armstrong-Douglas_Cali #131;Muller-Gottlieb #39;1038206145;Pixalate;549690;499025"}}}}},"security":[{"bearerAuth":[]}]}},"/schain-utilisation/columns-list":{"get":{"tags":["Schain Utilisation"],"summary":"Get Schain Utilisation columns list","operationId":"743abde8176d16491d5ea7cb55ac787f","responses":{"200":{"description":"Columns configuration list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchainUtilisationColumnsConfigResource"}}}}},"security":[{"bearerAuth":[]}]}},"/schain-utilisation":{"post":{"tags":["Schain Utilisation"],"summary":"Return paginated Schain Utilisation data.","operationId":"0ffab7ca7426ade777c0cfba2b0030a8","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchainUtilisationRequestWithPagination"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchainUtilisationPaginatedResourcesCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/schain-utilisation/chart":{"post":{"tags":["Schain Utilisation"],"summary":"Return Schain Utilisation data for chart.","operationId":"c6d3138f151a4328ac1ee4b276a84d13","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchainUtilisationRequest"}}}},"responses":{"200":{"description":"Chart data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchainUtilisationChartResourcesCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/schain-utilisation/export":{"post":{"tags":["Schain Utilisation"],"summary":"Return csv file for downloading","operationId":"08d805936ab9d27af9f7abf64b54ea27","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchainUtilisationRequest"}}}},"responses":{"200":{"description":"Return csv file for downloading","content":{"text/csv":{"schema":{"description":"Schain Utilisation data CSV file","type":"string","example":"Date;Impressions;Supply revenue, $\n2023-03-30;6525576;0.00273\n2023-03-31;10124170;0.00503\n2023-04-01;12396492;0.00618"}}}}},"security":[{"bearerAuth":[]}]}},"/sellers-validation/columns-list":{"get":{"tags":["Seller Validation"],"summary":"Get Seller Validation columns list","operationId":"b661b7620ad9e2fa8c5c49db0dc5d3e2","responses":{"200":{"description":"Columns configuration list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellersValidationColumnsConfigResource"}}}}},"security":[{"bearerAuth":[]}]}},"/sellers-validation":{"post":{"tags":["Seller Validation"],"summary":"Return paginated Seller Validation data.","operationId":"aa1dbe9e5f47d1cda9b116bf4cf921d0","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellersValidationRequestWithPagination"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellersValidationPaginatedResourcesCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/sellers-validation/chart":{"post":{"tags":["Seller Validation"],"summary":"Return Seller Validation data for chart.","operationId":"411e0332b463866e46f44ea09e07073b","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellersValidationRequest"}}}},"responses":{"200":{"description":"Chart data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellersValidationChartResourcesCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/sellers-validation/export":{"post":{"tags":["Seller Validation"],"summary":"Return csv file for downloading","operationId":"95cd9ab82dc9959b3f4eebf4a50da4bd","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellersValidationRequest"}}}},"responses":{"200":{"description":"Return csv file for downloading","content":{"text/csv":{"schema":{"description":"Seller Validation data CSV file","type":"string","example":"Date;Impressions;Supply revenue, $\n2023-03-30;6525576;0.00273\n2023-03-31;10124170;0.00503\n2023-04-01;12396492;0.00618"}}}}},"security":[{"bearerAuth":[]}]}},"/share/report":{"post":{"tags":["Share"],"summary":"Get hash for sharing report","operationId":"1bf1000b37cd72774558f6b38dcaa723","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequest"}}}},"responses":{"200":{"description":"Hash for sharing","content":{"application/json":{"schema":{"properties":{"hash":{"type":"string"}},"type":"object"},"example":"some_hash"}}}},"security":[{"bearerAuth":[]}]}},"/share/{hash}":{"get":{"tags":["Share"],"summary":"Get shared request data","operationId":"4222cdfec68d71de631b6bdd1f819eed","parameters":[{"name":"hash","in":"path","description":"Request data hash","allowEmptyValue":true,"schema":{"type":"string"},"example":"08bcdf19c331417383ba73ba0fabf87b"}],"responses":{"200":{"description":"Hash for sharing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequest"}}}}},"security":[{"bearerAuth":[]}]}},"/traffic-logger":{"post":{"tags":["Traffic Logger"],"summary":"Return paginated samples data.","operationId":"e9241dbb8a5c0468e44c9f94a6700e8f","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrafficLoggerRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrafficLoggerResourcesCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/traffic-logger/columns-list":{"get":{"tags":["Traffic Logger"],"summary":"Get the traffic logger columns list","operationId":"aab838510f9fd9c165fad7f7e1cca9af","responses":{"200":{"description":"Columns configuration list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrafficLoggerColumnsConfigResource"}}}}},"security":[{"bearerAuth":[]}]}},"/roles":{"post":{"tags":["Roles"],"summary":"Return paginated role list.","operationId":"7fca7b5e0b6956537f754fe1d8144f81","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RolesListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RolesPaginatedCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/roles/{id}":{"get":{"tags":["Roles"],"summary":"Return Role by ID.","operationId":"b6b00639ca7853cc291bb69bdccf43ae","parameters":[{"name":"id","in":"path","description":"Role ID","required":true,"schema":{"type":"integer"},"example":4}],"responses":{"200":{"description":"Role data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleResource"}}}}},"security":[{"bearerAuth":[]}]}},"/roles/store":{"post":{"tags":["Roles"],"summary":"Create new role.","operationId":"7518549c0c658b5123276010d4a42fb1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleRequest"}}}},"responses":{"200":{"description":"Role data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleResource"}}}}},"security":[{"bearerAuth":[]}]}},"/roles/{id}/update":{"post":{"tags":["Roles"],"summary":"Update exists role","operationId":"f2e7de4e0aae7531ebd103b60b1379ff","parameters":[{"name":"id","in":"path","description":"Role ID","required":true,"schema":{"type":"integer"},"example":4}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleRequest"}}}},"responses":{"200":{"description":"Role data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleResource"}}}}},"security":[{"bearerAuth":[]}]}},"/roles/{id}/destroy":{"post":{"tags":["Roles"],"summary":"Delete exists role","operationId":"0de764a0d1a4cdf3d4df26597d172a81","parameters":[{"name":"id","in":"path","description":"Role ID","required":true,"schema":{"type":"integer"},"example":4}],"responses":{"200":{"description":"Role data","content":{"application/json":{"schema":{"properties":{"status":{"type":"string","example":"true"}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/roles/permissions":{"get":{"tags":["Roles"],"summary":"Get permissions. If specified a role to get with toggle.","operationId":"58291e36fd0bac3b23d6d68d7bad723c","responses":{"200":{"description":"Array config","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionResource"}}}}},"security":[{"bearerAuth":[]}]}},"/scanner-settings":{"get":{"tags":["Scanner Settings"],"summary":"Fetch all current scanner settings","operationId":"5b54e3e4806732bfa39799e935491501","responses":{"200":{"description":"Scanner settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScannerSettingsResourceCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/scanner-settings/{source_type}":{"get":{"tags":["Scanner Settings"],"summary":"Fetch all current scanner settings for a source type","operationId":"494fdb24aeed2ff34374c35d14d435b4","parameters":[{"name":"source_type","in":"path","description":"Source type","required":true,"schema":{"type":"string","enum":["demand","supply"],"example":"demand"}}],"responses":{"200":{"description":"Scanner settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScannerSettingsResourceCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/scanner-settings/{id}":{"post":{"tags":["Scanner Settings"],"summary":"Update existed scanner settings.","operationId":"0c4a8e2bb2d5b57f40f1fa355eb8478f","parameters":[{"name":"id","in":"path","description":"Scanner settings ID","required":true,"schema":{"type":"integer"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/PixalatePrebid"},{"$ref":"#/components/schemas/PixalatePostbid"},{"$ref":"#/components/schemas/ProtectedMediaPrebid"},{"$ref":"#/components/schemas/ProtectedMediaPostbid"},{"$ref":"#/components/schemas/FraudSensorPostbid"},{"$ref":"#/components/schemas/MediaGuardPrebid"},{"$ref":"#/components/schemas/GeoEdgePostbid"}]}}}},"responses":{"200":{"description":"Scanner settings data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScannerSettingsResource"}}}}},"security":[{"bearerAuth":[]}]}},"/scheduled-reports":{"post":{"tags":["Scheduled Reports"],"summary":"Return paginated scheduled reports list.","operationId":"7259562ce68bc181bdddc71a5ed73b16","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduledReportListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduledReportPaginatedCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/scheduled-reports/{id}":{"get":{"tags":["Scheduled Reports"],"summary":"Return scheduled report by ID.","operationId":"30b124625cd3becad2d16a9ef71e9374","parameters":[{"name":"id","in":"path","description":"Scheduled report ID","required":true,"schema":{"type":"integer"},"example":2}],"responses":{"200":{"description":"Scheduled report data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduledReportResource"}}}}},"security":[{"bearerAuth":[]}]}},"/scheduled-reports/store":{"post":{"tags":["Scheduled Reports"],"summary":"Create new scheduled report.","operationId":"17f7f95b737dc1f841ded21522bb3e8f","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduledReportRequest"}}}},"responses":{"200":{"description":"Scheduled report data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduledReportResource"}}}}},"security":[{"bearerAuth":[]}]}},"/scheduled-reports/{id}/update":{"post":{"tags":["Scheduled Reports"],"summary":"Update scheduled report data by ID","operationId":"a4426f17664fc55fcd90b4af6172557b","parameters":[{"name":"id","in":"path","description":"Scheduled report ID","required":true,"schema":{"type":"integer"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduledReportRequest"}}}},"responses":{"200":{"description":"scheduled report data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduledReportResource"}}}}},"security":[{"bearerAuth":[]}]}},"/scheduled-reports/{id}/destroy":{"post":{"tags":["Scheduled Reports"],"summary":"Destroy scheduled report data by ID","operationId":"6a8bfcd13224ed1f21e9c96378b2a58b","parameters":[{"name":"id","in":"path","description":"Scheduled report ID","required":true,"schema":{"type":"integer"},"example":2}],"responses":{"200":{"description":"Entity deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestroySuccessStatusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/scheduled-reports/{id}/status":{"post":{"tags":["Scheduled Reports"],"summary":"Toggle scheduled report status by id","operationId":"fa6e1c3729266699b825bfe96e71887c","parameters":[{"name":"id","in":"path","description":"Scheduled report ID","required":true,"schema":{"type":"integer"},"example":2}],"responses":{"200":{"description":"Scheduled report data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduledReportResource"}}}}},"security":[{"bearerAuth":[]}]}},"/sellers-json":{"post":{"tags":["Sellers.json"],"summary":"Return paginated sellers.json list.","operationId":"b8b053e138a170b06fe984bf3d18d4a5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerJsonListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellersJsonPaginatedCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/sellers-json/update":{"post":{"tags":["Sellers.json"],"summary":"Update existed sellers.json lines.","operationId":"9fc5a7ab3e50ac1af8bf420a518c7f02","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellerJsonRequest"}}}},"responses":{"200":{"description":"Updated successfully","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"Sellers.json data updated"}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/sellers-json/download":{"get":{"tags":["Sellers.json"],"summary":"Return sellers.json file for downloading","operationId":"0568523349d9932443d0c3708743377d","responses":{"200":{"description":"Return sellers.json file for downloading"}},"security":[{"bearerAuth":[]}]}},"/sellers-json/update-file":{"post":{"tags":["Sellers.json"],"summary":"Update existed sellers.json file.","operationId":"8e1c9d13d095903168a9226dc7c074b8","responses":{"200":{"description":"Updated successfully","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","example":"Sellers.json file updated"}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/supply-sources":{"post":{"tags":["Supply Sources"],"summary":"Return paginated supply sources list.","operationId":"8a208c36493b44e8a597694ccd7abc72","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplySourcesListRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplySourcesPaginatedCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/supply-sources/{id}":{"get":{"tags":["Supply Sources"],"summary":"Return supply source by ID.","operationId":"240634ab932c179f947097e0565d5b82","parameters":[{"name":"id","in":"path","description":"Supply source ID","required":true,"schema":{"type":"integer"},"example":2}],"responses":{"200":{"description":"Supply source data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplySourceResource"}}}}},"security":[{"bearerAuth":[]}]}},"/supply-sources/store":{"post":{"tags":["Supply Sources"],"summary":"Create new supply source.","operationId":"11ee5bb38d6def422358db8647e45cdf","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplySourceRequest"}}}},"responses":{"200":{"description":"Supply source data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplySourceResource"}}}}},"security":[{"bearerAuth":[]}]}},"/supply-sources/{id}/update":{"post":{"tags":["Supply Sources"],"summary":"Update existed supply source.","operationId":"f01138a5d420ceb28c71e46bb33a06fd","parameters":[{"name":"id","in":"path","description":"Supply Source ID","required":true,"schema":{"type":"integer"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplySourceRequest"}}}},"responses":{"200":{"description":"Supply source data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplySourceResource"}}}}},"security":[{"bearerAuth":[]}]}},"/supply-sources/{id}/status":{"post":{"tags":["Supply Sources"],"summary":"Toggle supply source status by id","operationId":"e0febd91ca38b3f7732e4f7082cbdda2","parameters":[{"name":"id","in":"path","description":"Supply source ID","required":true,"schema":{"type":"integer"},"example":2}],"responses":{"200":{"description":"Supply source data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplySourceResource"}}}}},"security":[{"bearerAuth":[]}]}},"/supply-sources/{id}/clone":{"post":{"tags":["Supply Sources"],"summary":"Clone existed supply source.","operationId":"65359dfddc84543583cf66a2f549b2c4","parameters":[{"name":"id","in":"path","description":"Supply source ID","required":true,"schema":{"type":"integer"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplySourceCloneRequest"}}}},"responses":{"200":{"description":"Supply source data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplySourceResource"}}}}},"security":[{"bearerAuth":[]}]}},"/supply-sources/{id}/ads-txt":{"get":{"tags":["Supply Sources"],"summary":"Return ads.txt file for downloading","operationId":"1c147c141f499455d8c187227d9f21bf","parameters":[{"name":"id","in":"path","description":"Supply source ID","required":true,"schema":{"type":"integer"},"example":2}],"responses":{"200":{"description":"Return ads.txt file for downloading","content":{"text/plain":{"schema":{"description":"Ads.txt file","type":"string","example":"#Ads.txt\nexample.com, 1234567, RESELLER"}}}}},"security":[{"bearerAuth":[]}]}},"/supply-sources/qps-capacity":{"get":{"tags":["Supply Sources"],"summary":"Return region total QPS capacity list.","operationId":"c883de2a15629dd050516a330fdca47c","responses":{"200":{"description":"Total QPS capacities","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QpsCapacityResourceCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/user-activity-log":{"post":{"tags":["User Activity Logs"],"summary":"Return the paginated user activity log list.","operationId":"4744413c82bd54e2a25dc5ea6fe48605","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserActivityLogRequest"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserActivityLogResourceCollection"}}}}},"security":[{"bearerAuth":[]}]}},"/user-activity-log/{id}":{"get":{"tags":["User Activity Logs"],"summary":"Return user activity log by ID.","operationId":"234a4215de2be7767a54bdee54ae329e","parameters":[{"name":"id","in":"path","description":"Log ID","required":true,"schema":{"type":"integer"},"example":2}],"responses":{"200":{"description":"Log data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserActivityLogResource"}}}}},"security":[{"bearerAuth":[]}]}},"/user-activity-log/download":{"post":{"tags":["User Activity Logs"],"summary":"Return user activity log by ID.","operationId":"801d77c79d3d4400eb2c26b3e6174c36","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileDownloadRequest"}}}},"responses":{"200":{"description":"Return csv file for downloading","content":{"text/csv":{}}}},"security":[{"bearerAuth":[]}]}},"/user-activity-log/image/{filename}":{"get":{"tags":["User Activity Logs"],"operationId":"ebeb9fc6aedb023f17f996972884b6cc","parameters":[{"name":"filename","in":"path","description":"Image filename","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Image file","content":{"image/*":{}}},"404":{"description":"File not found"}},"security":[{"bearerAuth":[]}]}},"/users":{"post":{"tags":["Users"],"summary":"Return paginated user list.","operationId":"ca0ea0ab69e9f335fe6c6cfbac28f2f6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserListRequestWithPagination"}}}},"responses":{"200":{"description":"Paginated data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserListResourceWithPagination"}}}}},"security":[{"bearerAuth":[]}]}},"/users/{id}":{"get":{"tags":["Users"],"summary":"Return user by ID.","operationId":"ff5f10a2275aa6fe96d9a0ef05a069ce","parameters":[{"name":"id","in":"path","description":"User ID","required":true,"schema":{"type":"integer"},"example":2}],"responses":{"200":{"description":"User data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResource"}}}}},"security":[{"bearerAuth":[]}]}},"/users/store":{"post":{"tags":["Users"],"summary":"Create new user.","operationId":"dfb1125750084cf98cde766a11b1268e","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRequest"}}}},"responses":{"200":{"description":"User data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResource"}}}}},"security":[{"bearerAuth":[]}]}},"/users/{id}/update":{"post":{"tags":["Users"],"summary":"Update existed user.","operationId":"fa38482f8f1c8ac9a704c9aa5e62a0cb","parameters":[{"name":"id","in":"path","description":"User ID","required":true,"schema":{"type":"integer"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRequest"}}}},"responses":{"200":{"description":"User data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResource"}}}}},"security":[{"bearerAuth":[]}]}},"/users/{id}/destroy":{"post":{"tags":["Users"],"summary":"Destroy existed User","operationId":"7f8fb81bff5f3230cab1ae206586c1ef","parameters":[{"name":"id","in":"path","description":"User ID","required":true,"schema":{"type":"integer"},"example":2}],"responses":{"200":{"description":"Entity deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestroySuccessStatusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/users/{id}/restore":{"get":{"tags":["Users"],"summary":"Restore deactivated User","operationId":"325a11ec176e0dcf85b261f990553bcc","parameters":[{"name":"id","in":"path","description":"User ID","required":true,"schema":{"type":"integer"},"example":2}],"responses":{"200":{"description":"Entity restored","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestoreSuccessStatusResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/users/{id}/activate":{"get":{"tags":["Users"],"summary":"Activate existed User","operationId":"b61975ca609657a362f54ebed5a376df","parameters":[{"name":"id","in":"path","description":"User ID","required":true,"schema":{"type":"integer"},"example":2}],"responses":{"200":{"description":"Entity activated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessStatusResponse"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"PaginationRequest":{"properties":{"per_page":{"description":"Items per page","type":"integer","example":15},"page":{"description":"Page","type":"integer","example":1}},"type":"object"},"SmartyTableWithFieldsRequest":{"properties":{"filter":{"description":"List of filters","required":["date_from","date_to"],"properties":{"date_from":{"description":"Date from","format":"date","example":"2024-01-01"},"date_to":{"description":"Date to","format":"date","example":"2024-01-10"}},"type":"object","additionalProperties":{"type":"string"}},"sort":{"description":"Sort list","type":"array","items":{"required":["field","direction"],"properties":{"field":{"description":"Field for data sorting","type":"string","example":"full_name"},"direction":{"description":"Sorting direction","type":"string","enum":["asc","desc"],"example":"asc"}},"type":"object"}},"attributes":{"description":"List of attributes","type":"array","items":{"type":"strings","example":"date"}},"metrics":{"description":"List of metrics","type":"array","items":{"type":"strings","example":"requests"}},"per_page":{"description":"Items per page","type":"integer","example":15},"page":{"description":"Page","type":"integer","example":1}},"type":"object"},"HistoryRequest":{"properties":{"filter":{"description":"List of filters","required":["date_from","date_to","company_id","publisher_id","domain","traffic","crawled_domain"],"properties":{"date_from":{"description":"Date from","format":"date","example":"2024-01-01"},"date_to":{"description":"Date to","format":"date","example":"2024-01-01"},"company_id":{"description":"Company ID","type":"integer","example":15},"publisher_id":{"description":"Publisher ID","type":"string","example":"12913"},"domain":{"description":"Domain/Bundle","type":"string","example":"123news.com"},"traffic":{"description":"Traffic type","type":"string","enum":["wev","app"],"example":"web"},"crawled_domain":{"description":"Crawled domain","type":"string","example":"triplife.com"},"status_id":{"description":"Status id","type":"integer","example":1}},"type":"object"},"per_page":{"description":"Items per page","type":"integer","example":15},"page":{"description":"Page","type":"integer","example":1}},"type":"object"},"ListRequest":{"properties":{"per_page":{"description":"Items per page","type":"integer","example":15},"filter":{"description":"List of filters","type":"object","additionalProperties":{"type":"string"}},"sort":{"description":"Sort list","type":"array","items":{"required":["field","direction"],"properties":{"field":{"description":"Field for data sorting","type":"string","example":"full_name"},"direction":{"description":"Sorting direction","type":"string","enum":["asc","desc"],"example":"asc"}},"type":"object"}}},"type":"object"},"PaginatedResourcesCollection":{"description":"Paginated resources collection","properties":{"meta":{"description":"Pagination meta data","properties":{"current_page":{"description":"Current page number","type":"integer","example":1},"from":{"description":"First item number for current page","type":"integer","example":1},"last_page":{"description":"Last page number","type":"integer","example":32},"per_page":{"description":"Items per page","type":"integer","example":10},"to":{"description":"Last item number for current page","type":"integer","example":10},"total":{"description":"Total items count","type":"integer","example":32}},"type":"object"}},"type":"object"},"PaginatedDictionaryCollection":{"description":"Paginated dictionary collection","properties":{"meta":{"description":"Pagination meta data","properties":{"current_page":{"description":"Current page number","type":"integer","example":1},"from":{"description":"First item number for current page","type":"integer","example":1},"per_page":{"description":"Items per page","type":"integer","example":10},"to":{"description":"Last item number for current page","type":"integer","example":10}},"type":"object"}},"type":"object"},"SmartyTablePaginatedResourcesCollection":{"description":"Paginated resources collection","allOf":[{"$ref":"#/components/schemas/PaginatedResourcesCollection"},{"properties":{"total":{"description":"Total row","type":"array","items":{"type":"object","additionalProperties":{"type":"number"}}}},"type":"object"}]},"StatisticXMLResource":{"description":"XML statistic data","xml":{"name":"report"},"allOf":[{"properties":{"data_list":{"type":"array","items":{"properties":{"data":{"description":"List of resources","type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}}},"type":"object"}}},"type":"object"},{"$ref":"#/components/schemas/SmartyTablePaginatedResourcesCollection"}]},"SmartyTableChartResourcesCollection":{"description":"Resources collection for chart","properties":{"data":{"description":"List of resources","type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}},"config":{"description":"List of columns","type":"array","items":{"$ref":"#/components/schemas/MetricColumnConfig"}},"total":{"description":"Total row","type":"array","items":{"type":"object","additionalProperties":{"type":"number"}}}},"type":"object"},"ColumnsConfigResource":{"description":"Column config resource","properties":{"data":{"description":"List of columns","properties":{"attributes":{"description":"List of attributes","type":"array","items":{"$ref":"#/components/schemas/AttributeColumnConfig"}},"metrics":{"description":"List of metrics","type":"array","items":{"$ref":"#/components/schemas/MetricColumnConfig"}}},"type":"object"}},"type":"object"},"AttributeColumnConfig":{"description":"Attribute column configuration","required":["name"],"properties":{"name":{"description":"Column name","type":"string","example":"Column name"},"tooltip":{"description":"Tooltip text","type":"string","example":"Column tooltip"},"dropdown":{"description":"Dictionary for dropdown","properties":{"type":{"$ref":"#/components/schemas/DictionaryType"},"multiple":{"description":"Dictionary multiple type","type":"boolean","example":false}},"type":"object"},"chart":{"description":"Chart settings","properties":{"type":{"description":"Chart value type","type":"string","enum":["number","money","percent"],"example":"money"},"axis":{"description":"Chart axis","type":"string","enum":["x-axis","y-axis"],"example":"x-axis"}},"type":"object"}},"type":"object"},"MetricColumnConfig":{"description":"Metric column configuration","required":["name"],"properties":{"name":{"description":"Column name","type":"string","example":"Supply requests"},"tooltip":{"description":"Tooltip text","type":"string","example":"Column tooltip"},"chart":{"description":"Chart settings","properties":{"type":{"description":"Chart value type","type":"string","enum":["number","money","percent"],"example":"number"},"axis":{"description":"Chart axis","type":"string","enum":["x-axis","y-axis"],"example":"y-axis"}},"type":"object"}},"type":"object"},"TextColumnConfig":{"description":"Text column configuration","required":["name"],"properties":{"name":{"description":"Column name","type":"string","example":"Column name"}},"type":"object"},"TokenResponse"
[...]
